<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About Us</title>
</head>
<body>
    <header>
        <h1>My IT Profession Project</h1>
    </header>

    <nav>
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/about">About</a></li>
            <li><a href="/contact">Contact</a></li>
        </ul>
    </nav>

    <main>
        <h2>About Us</h2>
        <p>Welcome to our website, where we provide detailed information about IT professions. Here you can learn about different roles in the IT industry, including salary ranges, key skills, and other essential details.</p>
    </main>

    <footer>

        <p>Full Name: Салех Осама Наср Ахмед | Academic Group: РИ-230911</p>
    </footer>
</body>
</html>
